#login-page {
	display: none;
}
.login-btn{
	font-size: 1.25rem;
	border: none;
	background: none;
	color: #61DAFB;
	padding: 5px;
	font-weight: bold;
	margin: 20px 50px 0 0;
	cursor: pointer;
}
.login-btn:hover{
	color: #7DD0E7;
	transform: scale(1.25);
}